:root{
    --pink:#e84393;


}

*{
    margin:0;
    padding:0;
    box-sizing:border-box ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}


section{
    padding:2rem 9%;
}

header{
    position: fixed;
    top: 0%; left: 0%; right: 0%;
    background:white ;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:1000;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1) 
}

header .logo{
   font-size: 3rem;
   color: rgb(88, 85, 85);
   font-weight: bolder; 
}

header .logo span{
    color: var(--pink);
}

header .navbar a{
    font-size: 2rem;
    padding: 0  1.5rem;
    color:rgb(88, 85, 85);
    text-decoration: none;
}

header .navbar a:hover{
    color: var(--pink);
}

header #toggler{
    display: none;

}

header .fa-bars{
    font-size: 3rem;
    color:rgb(88, 85, 85);
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 1rem solid rgba(0,0,0,.1);
    display: none;
}

.home .content{
   max-width: 50rem;
}




@media (max-width:991px){
 
    html{
        font-size:55%;
    }

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }


    header .navbar{
        position:absolute;
        top: 100%; left: 0%; right: 0%;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0) ;
    }

    header #toggler:checked~.navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) ;
       
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }
}

nav ul  {
   list-style: none;
   display: flex;
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    height: 100vh;
    background: url(../pnk.png) no-repeat;
    background-size: cover;
    background-position: center;
} 
.section#about {
    padding: 2rem 9%;
  }
  
  .about-container {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
 
  }
  
  .gambar img {
    width: 350px;
    border-radius: 10px;
  }
  .about-container .about-box{
    background:rgb(255, 218, 231);
    padding: 5rem 4rem 6rem;
    border-radius: center;
    border: .2rem solid var(--bg-color);
    transition: .5 ease;
}

.about-container .about-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}
.about-box {
    margin: 15px;
    box-shadow: 0 4px 10px #ff8787;
    transition: transform 0.3 ease, box-shadow 0.3s ease;
    transform: translateY(-10px);
    border-radius: 15%;
}
  
  .teks {
    margin-left: 4rem; 
  }
  
  .teks h3 {
    color: var(--pink); 
    font-size: 3rem;
  }
  
  .teks span{
    font-size: 2rem;
    color: rgb(255, 213, 47);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .teks p{
    font-size: 1rem;
  }